// 1/9/2019
.circleWrapper
  position: relative
  width: 400px
  height: 400px
  background:
    color: #E56262
  margin: auto
  .circle1
    position: absolute
    z-index: 2
    right: 50%
    margin-right: -25px
    top: 50%
    margin-top: -25px
    height: 50px
    width: 50px
    background:
      color: white
    border-radius: 25px
    animation-name: circle1
    animation-duration: 5s
    animation-iteration-count: infinite
    @keyframes circle1
      25%
        transform: scale(0)
  .circle2
    position: absolute
    z-index: 1
    right: 50%
    margin-right: -50px
    top: 50%
    margin-top: -50px
    height: 100px
    width: 100px
    background:
      color: red
    border-radius: 50px
    animation-name: circle2
    animation-duration: 5s
    animation-iteration-count: infinite
    @keyframes circle2
      50%
        transform: scale(0)
  .circle3
    position: absolute
    z-index: 0
    right: 50%
    margin-right: -75px
    top: 50%
    margin-top: -75px
    height: 150px
    width: 150px
    background:
      color: blue
    border-radius: 75px
    animation-name: circle3
    animation-duration: 5s
    animation-iteration-count: infinite
    @keyframes circle3
      75%
        transform: scale(0)

// 1/1/2019
.humanWrapper
  position: relative
  width: 400px
  height: 400px
  background:
    color: #8e44ad
  margin: auto
  .human
    position: absolute
    height: 300px
    width: 170px
    top: 50%
    margin-top: -150px
    right: 50%
    margin-right: -75px
    .head
      position: absolute
      height: 50px
      width: 50px
      right: 50%
      margin-right: -25px
      border-radius: 25px
      background:
        color: #fff
    .body
      position: absolute
      background:
        color: #fff
      height: 125px
      width: 60px
      right: 50%
      margin-right: -30px
      top: 60px
      z-index: 2
      .rightarm
        position: absolute
        width: 60px
        height: 60px
        right: -50px
        .upperarm
          position: absolute
          background:
            color: #fff
          width: 60px
          height: 20px
          top: 0px
          border-radius: 20px
          animation-name: upperrightarm
          animation-duration: 2s
          animation-iteration-count: infinite
          transform-origin: center left
          @keyframes upperrightarm
            50%
              transform: rotate(10deg)
              top: -1.5px
        .lowerarm
          position: absolute
          background:
            color: #fff
          width: 20px
          height: 60px
          right: -5px
          top: -40px
          border-radius: 20px
          animation-name: lowerrightarm
          animation-duration: 2s
          animation-iteration-count: infinite
          transform-origin: center
          @keyframes lowerrightarm
            50%
              top: -30px
              right: -10px
              transform: rotate(30deg)
      .leftarm
        position: absolute
        width: 60px
        height: 60px
        left: -50px
        .upperarm
          position: absolute
          background:
            color: #fff
          width: 60px
          height: 20px
          top: -10px
          transform: rotate(-65deg)
          border-radius: 20px
          transform-origin: center right
        .lowerarm
          position: absolute
          background:
            color: #fff
          width: 20px
          height: 60px
          transform: rotate(10deg)
          left: 24px
          top: 40px
          border-radius: 20px
          transform-origin: center right
    .legs
      position: absolute
      background:
        color: rgba(0, 0, 0, 0.1)
      height: 115px
      width: 60px
      right: 50%
      top: 170px
      margin-right: -30px
      .rightleg
        position: absolute
        right: 0px
        background:
          color: #fff
        width: 29px
        height: 130px
        border-radius: 28px
      .leftleg
        position: absolute
        left: 0px
        background:
          color: #fff
        height: 130px
        width: 29px
        border-radius: 28px

// 1/1/2019 - Extra
.ballWrapper
  position: relative
  width: 400px
  height: 400px
  background:
    color: #EF767A
  margin: auto
  .ball
    position: absolute
    width: 100px
    height: 100px
    border-radius: 50px
    background-color: #49DCB1
    left: 50%
    top: 50%
    margin-left: -50px
    margin-top: -50px
    z-index: 2
    animation-name: ball
    animation-duration: 1.5s
    animation-iteration-count: infinite
    animation-fill-mode: forwards
    @keyframes ball
      20%
        transform: translateY(-100px) scale(0.95, 1.05)
      45%
        transform: translateY(5px) scale(1.15, 0.85)
      70%, 85%
        transform: translateY(0)
      100%
        transform: translateY(0)
  .shadow
    position: relative
    width: 100px
    height: 5px
    margin: auto
    top: 248px
    background:
      color: rgba(0, 0, 0, 0.2)
    border-radius: 25px
    animation-name: ball-shadow
    animation-duration: 1.5s
    animation-iteration-count: infinite
    animation-fill-mode: forwards
    @keyframes ball-shadow
      20%
        transform: scale(0.9)
      45%
        transform: scale(1.15)
      75%, 80%
        transform: scale(1)
      100%
        transform: scale(1)

// 12/31/2018
.squareWrapper
  position: relative
  width: 400px
  height: 400px
  background:
    color: #3498db
  margin: auto
  .box
    position: absolute
    width: 100px
    height: 100px
    background-color: white
    left: 50%
    top: 50%
    margin-left: -50px
    margin-top: -50px
    z-index: 2
    animation-name: box
    animation-duration: 1.5s
    animation-iteration-count: infinite
    animation-fill-mode: forwards
    @keyframes box
      20%
        transform: translateY(-100px) rotateX(180deg)
      45%
        transform: translateY(0) rotateX(180deg)
      70%, 85%
        transform: translateY(25px) rotateX(180deg) scale(2, 0.5)
      100%
        transform: translateY(0) rotateX(180deg) scale(-1)
  .shadow
    position: relative
    width: 100px
    height: 5px
    margin: auto
    top: 248px
    background:
      color: rgba(0, 0, 0, 0.2)
    border-radius: 25px
    animation-name: shadow
    animation-duration: 1.5s
    animation-iteration-count: infinite
    animation-fill-mode: forwards
    @keyframes shadow
      20%
        transform: scale(0.5)
      45%
        transform: scale(1, 1)
      75%, 80%
        transform: scale(2, 0.8)
      100%
        transform: scale(-1)

// 12/30/2018
$pig-background: #FFDCB5
$pig-primary: #F7949A
$pig-secondary: pink

.pig
  position: relative
  width: 400px
  height: 400px
  background-color: $pig-background
  margin: auto
  overflow: hidden
  z-index: -1

  .face
    position: absolute
    width: 175px
    height: 175px
    background-color: $pig-primary
    border-radius: 87.5px
    left: 50%
    top: 50%
    margin:
      left: -87.5px
      top: -87.5px

    .nose
      position: absolute
      width: 70px
      height: 50px
      background-color: #ffd4d7
      border-radius: 50px
      margin-left: -35px
      left: 50%
      top: 60%
      animation-name: wiggle-nose
      animation-duration: 6s
      animation-iteration-count: infinite
      @keyframes wiggle-nose
        0%
          top: 60%
        5%
          top: 62%
        10%
          top: 60%

      %nosehole
        position: absolute
        width: 12px
        height: 12px
        background-color: #CE666D
        border-radius: 6px
        margin-top: -7.5px
        top: 42%
        animation-name: wiggle-nose-hole
        animation-duration: 6s
        animation-iteration-count: infinite
        @keyframes wiggle-nose-hole
          0%
            margin-top: -7.5px
          5%
            margin-top: -5.5px
          10%
            margin-top: -7.5px

      .nosehole1
        right: 25%
        @extend %nosehole

      .nosehole2
        left: 25%
        @extend %nosehole

    %eye
      position: absolute
      width: 20px
      height: 20px
      background-color: white
      border-radius: 10px
      margin-top: -10px
      margin-left: -10px
      top: 50%
      animation-name: blink
      animation-duration: 5s
      animation-iteration-count: infinite
      @keyframes blink
        0%
          transform: scaleY(1)
        5%
          transform: scaleY(0)
        10%
          transform: scaleY(1)
      .pupil
        position: absolute
        width: 5px
        height: 5px
        background-color: black
        border-radius: 2.5px
        margin-right: -2.5px
        margin-top: -2.5px
        right: 50%
        top: 50%

    .eye-l
      left: 30%
      @extend %eye

    .eye-r
      left: 70%
      @extend %eye

    %ear
      width: 40px
      height: 40px
      position: absolute
      background-color: #ffd4d7
      border:
        style: solid
        width: 7px
        color: #F7949A
        radius: 10px
      top: -5%
      margin-right: -27px
      animation-duration: 3s
      animation-iteration-count: infinite
      z-index: -1

    .ear-l
      right: 30%
      transform: skew(-20deg) rotate(-25deg)
      animation-name: wiggle-r
      @keyframes wiggle-r
        0%
          transform: skew(-20deg) rotate(-25deg)
        5%
          transform: skew(-20deg) rotate(-20deg)
        10%
          transform: skew(-20deg) rotate(-25deg)
        15%
          transform: skew(-20deg) rotate(-30deg)
        20%
          transform: skew(-20deg) rotate(-25deg)
      @extend %ear

    .ear-r
      right: 75%
      transform: skew(20deg) rotate(25deg)
      animation-name: wiggle-l
      @keyframes wiggle-l
        0%
          transform: skew(20deg) rotate(25deg)
        5%
          transform: skew(20deg) rotate(20deg)
        10%
          transform: skew(20deg) rotate(25deg)
        15%
          transform: skew(20deg) rotate(30deg)
        20%
          transform: skew(20deg) rotate(25deg)
      @extend %ear

// General
body
  background:
    color: #141d26
  margin: 0px
  padding: 0px
  color: #ffffff

.wrapper
  width: 90%
  margin: auto

.nav
  h1
    font-weight: 100
  a
    color: #ffffff
    text:
      decoration: none
      align: center
    &:visited
      decoration: none

.title
  text-align: center
  font-size: 32px
  margin-bottom: 5px
  p
    margin: 0px
