//- pug index.pug --pretty --watch --out ../
doctype html
html(lang='en')
  head
    title CSS Challenge
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='js/index.js')
    link(rel='stylesheet', href='css/index.css')
  body
    .nav
      a(href='https://github.com/mm909')
        h1 Github
    .wrapper
      hr 
      .title
        p Pig Face :) 
      .pig
        .face
          .nose
            .nosehole1
            .nosehole2
          .eye-l
            .pupil
          .eye-r
            .pupil
          .ear-l
          .ear-r
      hr    
