//- pug index.pug --pretty --watch --out ../
doctype html
html(lang='en')
  head
    title CSS Challenge
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    script(src='js/index.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/index.css')
  body
    .nav
      a(href='https://github.com/mm909')
        h1 Github
    .wrapper
      .title
        p Bouncing Ball
      .ballWrapper
        .ball
        .shadow
    .wrapper
      .title
        p Bouncing square
      .squareWrapper
        .box
        .shadow
    .wrapper
      .title
        p Pig Face :) 
      .pig
        .face
          .nose
            .nosehole1
            .nosehole2
          .eye-l
            .pupil
          .eye-r
            .pupil
          .ear-l
          .ear-r
